body {
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 20px;
}

header {
	position: relative;
	background: #fff url(../img/main-bg.jpg) center center no-repeat;
	height: 100vh;
	width: 100%;
}

.main-overlay {
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
}

.main-header {
	position: relative;
	text-align: center;
	padding-top: 380px;
	color: #fff;
}

.main-header h1 {
	font-size: 47px;
	text-transform: uppercase;
}

.main-header p {
	font-size: 30px;
}

.main-line {
	height: 2px;
	width: 212px;
	background-color: #fff;
	margin: 0 auto;
}

section h1 {
	text-align: center;
	margin: 110px auto 180px auto;
	text-transform: uppercase;
	font-size: 35px;
}

.photo {
	margin-bottom: 50px;
	box-shadow: 0px 4px 29px 0px rgba(87, 92, 97, 0.54);
}

section a {
	color: #000;
	margin-left: 90px;
}

section a:hover {
	text-decoration: none;
	color: orange;
}

/*footer*/
footer {
	margin-top: 210px;
	background-color: #646464;
	width: 100%;
	height: 40%;
	color: #fff;
	text-align: center;
	font-size: 23px;
}

footer .button {
	font-size: 15px;
	border-radius: 30px;
	padding: 10px 40px;
	border: 1px solid #fff;
	color: #fff;
	text-decoration: none;
}

footer .button:hover {
	background-color: #fff;
	color: #646464;
}

footer i {
	padding: 8px;
	margin: 10px;
	line-height: 5rem;
	color: #fff;
	border-radius: 50%;
	border: 1px solid #fff;
}

footer i:hover {
	background-color: #fff;
	color: #646464;
}

footer p {
	margin-bottom: 10px;
}

footer span {
	font-size: 15px;
}

.modal img {
	width: 100%;
}
.modal-title {
	font-weight: 800;
	font-size: 2rem;
}
.close {
	background-color: transparent;
	border: none;
	font-size: 2.5rem;
	position: absolute;
	right: 2rem;
	top: 1rem;
}
.modal-btn {
	display: inline-block;
	color: #333;
	border: 1px solid #333;
	padding: 10px 20px;
	border-radius: 5px;
}
.modal-btn:hover {
	background-color: #333;
	color: #fff;
	text-decoration: none;
}
@media (min-width: 0px) and (max-width: 767px) {
	html {
		font-size: 7px;
	}
	.footer strong {
		margin: 3rem 0 2rem;
		display: inline-block;
	}
	.social-links a {
		font-size: 1.5rem;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.footer strong {
		margin: 3rem 0 2rem;
		display: inline-block;
	}
}
